<% layout("/layouts/boilerplate") %>

<div class="container mt-4">
  <div class="dashboard">
    <a href="/buyer/settled" class="dash-box settled">
      <i class="fa-solid fa-circle-check dash-icon"></i>
      <span>Payment Settled</span>
    </a>

    <a href="/buyer/pending" class="dash-box pending">
      <i class="fa-solid fa-hourglass-half dash-icon"></i>
      <span>Payment Pending</span>
    </a>

    <a href="/buyer/new" class="dash-box new">
      <i class="fa-solid fa-user-plus dash-icon"></i>
      <span>New Buyer</span>
    </a>
  </div>
</div>
