<% layout("/layouts/boilerplate") %>

<div class="container mt-4">
  <div class="dashboard">
    <a href="/loan/settled" class="dash-box settled">
      <i class="fa-solid fa-circle-check dash-icon"></i>
      <span>Loan Settled</span>
    </a>

    <a href="/loan/pending" class="dash-box pending">
      <i class="fa-solid fa-hourglass-half dash-icon"></i>
      <span>Loan Pending</span>
    </a>

    <a href="/farmer/new" class="dash-box new">
      <i class="fa-solid fa-user-plus dash-icon"></i>
      <span>New Farmer</span>
    </a>

    <a href="/loan/summary" class="dash-box summary">
      <i class="fa-solid fa-chart-pie dash-icon"></i>
      <span>Summary</span>
    </a>
  </div>
</div>
